@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  font-family: "Geologica", sans-serif;
}
.bg-size {
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #fff, #9ed7ff);
  animation: loader 3s infinite linear;
}
@keyframes loader {
  0% {
    background-position: -800px 0px;
  }
  100% {
    background-position: 800px 0px;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
